{% extends "layouts/master.html" %}


{% block custom_title%}
NOTE | LIST
{% endblock %}

    <!--custom css-->
    {% block custom_css%}
       .first_div{
       background-color:#ffffff;
            height: 500px; 
            width:700px;
            margin:50px auto;      
          border-radius: 5px;
         box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
         padding:20px;
         text-align:center;

         a{
            font-size:20px;
            text-align:center;
            text-decoration:none;
         }
         a:hover{
            color:red;
         }

         .btn{
            margin-bottom:10px;
         }
       }
    {% endblock%}

{% block body_content%}
  <div class="first_div">
            <a href="{% url "create-note"%}">Add Notes</a>
            <hr>

            <h3>your notes are here.!!!!!!!!!!!!!!!!!!</h3><br><br>
            <form>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      #1 first notes
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">first notes in detail  Only the main shades need to be provided (unless you wish to further customize light, dark or contrastText), as the other colors will be calculated by createTheme(), as described in the Theme customization section.

                    If you are using the default primary and / or secondary shades then by providing the color object, createTheme() will use the appropriate shades from the material color for main, light and dark.
                    </div>
                    <button class="btn btn-sm btn-primary">update notes</button>
                  </div>
                </div>
              </div>
           </form>
  </div>


{%endblock%}







