{% extends "layouts/master.html" %}


{% block custom_title%}
NOTE | LIST
{% endblock %}

    <!--custom css-->
    {% block custom_css%}
       .first_div{
       background-color:#ffffff;
            min-height: 500px; 
            width:700px;
            margin:50px auto;      
          border-radius: 5px;
         box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
         padding:20px;
         text-align:center;

         a{
            font-size:20px;
            text-align:center;
            text-decoration:none;
         }
         a:hover{
            color:red;
         }

         .btn{
            margin-bottom:10px;
         }

         h4{
          margin-bottom:4px;
          color:red;

         }
       }
    {% endblock%}

{% block body_content%}
  <div class="first_div">
            <a href="{% url "create-note"%}">Add Notes</a>
            <hr>

            <h3>your notes are here.!!!!!!!!!!!!!!!!!!</h3><br><br>
            {% for val in note%}

            <form action=" {% url 'update' val.id %}">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    {{forloop.counter}}.  {{val.note_title}}
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      {{val.note_description}}
                    </div>
                    <h4>
                      {{val.status}}
                    </h4>
                    <button class="btn btn-sm btn-primary" >update notes</button>
                  </div>
                </div>
              </div>
           </form>

           {% endfor%}
  </div>


{%endblock%}







